@import "vars";

/*article title & before*/
h1.page-title {
  margin-bottom: 0px;
}

h1.page-title,
.field--name-body h2 {
  font-size: 30px;
}
h1.page-title::before,
.field--name-body h2::before {
  display: block;
  content: "";
  border-top: 0.3rem solid $mainColor;
  width: 6rem;
  margin-bottom: -5px;
  transform: translateY(-1rem);
}

.layout-width {
  width: 70%;
  margin: 0 auto;
  padding-top: 160px;
  display: flex;
}

.view-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}

.views-row {
  display: flex;
  flex-basis: 46% !important;
  text-align: left;
  width: 100% !important;
}

.views-row img.image-style-large {
  width: 100% !important;
  min-height: 300px;
  max-height: 300px;
}

.field .field--name-field-tags {
  text-transform: uppercase;
}

h2 a span.field--name-title {
  text-decoration: none !important;
  color: $mainColor;
  font-size: 30px;
}

.field--name-field-tags {
  padding-top: 15px;
  color: $metaColor;
  text-transform: uppercase;
}

/*news*/

/*custom js classes*/
.post-content-70 {
  width: 70%;
}
.sidebar-content-30 {
  width: 30%;
}

.region-sidebar-second {
  padding: 0px 40px;
}

/*single article pic & caption*/

figure {
  margin: 0px;
}
.caption > * {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

/*sidebar*/

.region-sidebar-second .item-list ul li {
  text-align: left;
}

.region-sidebar-second .item-list ul li {
  list-style-type: square;
  border-bottom: 1px solid $mainColor;
  padding: 8px 0;
}

.region-sidebar-second .item-list ul li a {
  color: $mainColor;
}

/*.region-sidebar-second .item-list ul li:last-child {
  border: none;
}*/
