@media screen and (max-width: 480px) {
  .layout-width,
  .region-footer {
    width: 80% !important;
    padding: 0px 20px;
  }
  .layout-width {
    padding-top: 160px;
    display: block;
  }

  .views-row {
    display: flex;
    flex-basis: 100% !important;
  }

  .post-content-70,
  .sidebar-content-30 {
    display: flex;
    width: 100%;
  }
  .region-sidebar-second {
    padding: 0px !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .layout-width,
  .region-footer {
    width: 90% !important;
    padding: 0px 20px;
  }

  .layout-width {
    padding-top: 160px;
    display: block;
  }

  .views-row {
    display: flex;
    flex-basis: 46% !important;
  }

  .post-content-70,
  .sidebar-content-30 {
    display: flex;
    width: 100%;
  }
  .region-sidebar-second {
    padding: 0px !important;
  }
}
